/* Body */
body {
  background: rgb(83, 135, 172);
  background: linear-gradient(
    83deg,
    rgba(74, 121, 154, 1) 64%,
    rgba(234, 222, 208, 1) 100%
  );
}

/* Main */

/* Estilos del formulario */
.card {
  background-color: #2a4456 !important;
  border: 2px solid #fff;
}

.card-body {
  background-color: #2a4456;
}

label {
  font-family: "holaholo", sans-serif;
  color: #eaded0;
}

main h2 {
  font-family: "holaholo", sans-serif;
  color: #eaded0;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Estilo del botón */
#sendmsj {
  font-family: "holaholo", sans-serif;
  background-color: #eaded0;
  color: #2a4456;
  border-radius: 5px;
}

#sendmsj:hover {
  background-color: #58a7a2;
}
