/* Body */
body {
  background: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  ;
}

/* Main */

iframe{
  pointer-events: none;
}
.tv{
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;4
}
.tv img{
  position: absolute;
  z-index: 5;
  top: 0;
  width: 500px;
  height: 350px;
  box-shadow: 1px 1px 15px 5px black;
}
.tv .filter{
  position: absolute;
  mix-blend-mode: lighten;
  opacity: .5;
  z-index: 1;
  top: 0;
  width: 500px;
  height: 350px;
}
.tv iframe{
  position: relative;
  z-index: 0;
}
.titulo{
  position: absolute;
  z-index: 3;
  top: 50px;
  font-family: "LCD", sans-serif;
  color: rgba(50, 254, 49,.9);
  text-shadow: 1px 1px 2px black ;
}


