body {
  background: rgb(42, 68, 86) !important;
  background: linear-gradient(
    135deg,
    rgba(42, 68, 86, 1) 52%,
    rgba(74, 121, 154, 1) 83%
  ) !important;
}

.card {
  overflow: hidden;
  cursor: pointer;
}
.card-img-top:hover {
  scale: 1.1;
  transition: 0.2s linear;
}
