/* Fonts */
@import url("https://fonts.cdnfonts.com/css/wicked-mouse");
@import url("https://fonts.cdnfonts.com/css/acme");
@import url("https://fonts.cdnfonts.com/css/baksosapi-pro");
@import url("https://fonts.cdnfonts.com/css/holaholo");
@import url("https://fonts.cdnfonts.com/css/lcd");

/* Navbar */
.navbar {
  min-height: 100px;
  background: #9b111e;
  box-shadow: 2px 2px 10px black;
}
.navbar-brand {
  margin: 0 !important;
}
.navbar-brand img {
  width: 200px !important;
}
.navbar-nav {
  align-items: center;
}
.fa-bars {
  color: #eaded0;
}
.navbar .navbar-nav .nav-link {
  font-family: "holaholo", sans-serif;
  color: #eaded0;
  font-size: 25px !important;
  font-weight: 500;
  padding: 0.5em 1em;
}
.nav-link:hover {
  color: #dba134 !important;
  transition: 0.1s linear;
}

/* Footer */
footer {
  font-family: "holaholo", sans-serif;
  font-size: medium;
  color: #eaded0;
  background: #6e1d1d;
}
.iconos {
  font-size: 1.5rem;
}
.fab:hover {
  color: #dba134;
  transition: 0.1s linear;
}
.f-links p:hover {
  text-decoration: underline;
  color: #dba134;
  transition: 0.1s linear;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.05);
}
.copyright a:hover {
  color: #dba134 !important;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

:root {
  --bs-border-color: #eaded0 !important;
  --bs-body-bg: #eaded0 !important;
}
